@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="squareContainer">
        <div class="titleDivision">
            <h3>Sign in</h3>
        </div>
        <div>
            <label>Username</label>
            <input type="text" id="uName" name="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" id="psw" name="password">
        </div>
</div>

