@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="squareContainer">
    <div class="division" style="max-height:min-content">
        <h3>Sign in</h3>

    </div>
    <br />

    <div>

        <label>Username</label>
        <br />
        <input type="text" id="uName" name="username">
    </div>

    <div>
        <label>Password</label>
        <br />
        <input type="password" id="psw" name="password">
    </div>
    <br />

    <div>
        <button class="principalButton" type="submit" id="signIn" name="signIn" style="color:white" onclick="signIn()"><b>SIGN IN</b></button>
    </div>
    <br />

    <div class="division">
    </div>
    <br />

    <div>
        <label>New User</label>
        <br />
        <button class="principalButton" type="submit" id="signUp" name="signUp" style="color:white" onclick="signUp()"><b>SIGN UP</b></button>

    </div>
    <br />

    <script src="~/js"></script>
</div>

