@page
@model Autentication_Module_RP.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="squareContainer">
    <form method="post">
        <div class="division" style="max-height:min-content">
            <h3>Sign Up</h3>

        </div>
        <div class="form-group">
            <label asp-for="User.Username" class="control-label"></label>
            <input asp-for="User.Username" class="form-control" />
            <span asp-validation-for="User.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Password" class="control-label"></label>
            <input asp-for="User.Password" class="form-control" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Firstname" class="control-label"></label>
            <input asp-for="User.Firstname" class="form-control" />
            <span asp-validation-for="User.Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Lastname" class="control-label"></label>
            <input asp-for="User.Lastname" class="form-control" />
            <span asp-validation-for="User.Lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.BirthDate" class="control-label"></label>
            <input type="date" asp-for="User.BirthDate" class="form-control" />
            <span asp-validation-for="User.BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    <div class="form-group">
        <form method="get" asp-page="/users/login">
            <input type="submit" value="CANCEL" class="btn btn-primary" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
